/*hr {
  line-height: 3px;
  width: 50%;
  text-align: center;
}*/
footer {
  background-color: #f8f9fa;
  padding: 50px;
  font-family: "Marcellus", serif;
  font-style: normal;
}

footer .col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 1px dotted #56aeea;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 5px 0;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

footer .col-4 i {
  padding: 0 20px;
}

footer .col-4:last-child {
  border-right: none;
}

footer .col-4 h6 {
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
  font-size: 20px;
  background: -webkit-linear-gradient(#a8ccda, #0ec8dd, rgb(78, 78, 197));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 500ms ease-in-out;
}

.content {
  background-image: url("pic3.jpg");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-color: #c7e9ed;
  font-family: "Marcellus", serif;
  font-style: normal;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin-top: 300px;
}

.hero a h6 {
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
}

.content h3 {
  font-size: 50px;
  color: white;
}

.content h2 {
  font-size: 90px;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  color: white;
  /*background: -webkit-linear-gradient(#a8ccda, #0ec8dd, rgb(78, 78, 197));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.content h2:hover {
  font-size: 120px;
  background: -webkit-linear-gradient(#a8ccda, #0ec8dd, rgb(78, 78, 197));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 500ms ease-in-out;
}

.WhatWeOffer {
  text-align: center;
  font-family: "Marcellus", serif;
  font-style: normal;
  margin-top: 40px;
  color: #195175;
}

.WhatWeOffer h2 {
  margin-bottom: 50px;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  font-size: 50px;
}

.WhatWeOffer h3 {
  color: rgb(34, 79, 175);
}

.Program {
  margin-bottom: 20px;
}

.Program .col {
  padding: 30px;
  position: relative; /* Add this to contain the button within the borders */
}

.Program a {
  text-decoration: none;
  background-color: #56aeea;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  display: inline-block; /* Ensure it takes up only the necessary space */
  margin-top: 15px; /* Add some space between the paragraph and the button */
  margin-bottom: 20px; /* Add space below the button */
}

.Program h3 {
  margin-bottom: 30px;
}

#About {
  font-family: "Marcellus", serif;
  font-style: normal;
}

#About h3 {
  margin: 20px;
  font-size: 30px;
}

#text {
  line-height: 25px;
  border-radius: 10px 10px;
  padding: 20px;
  color: #195175;
  font-family: "Marcellus", serif;
  font-style: normal;
}

#text h3 {
  margin-bottom: 50px;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  font-size: 50px;
}

.arrow-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust this value as needed */
  color: white;
  width: 40px;
  height: 40px;
}

.offcanvas-body li a {
  color: #56aeea;
  font-family: "Protest Revolution", sans-serif;
  font-size: 45px;
  font-style: normal;
  line-height: 20px;
}

/*.offcanvas-body li a:hover {
  font-size: large;
}*/

.navbar-brand {
  display: flex;
  justify-content: center;
  /*margin-left: 500px;*/
}

.dropdown-menu li a {
  font-size: 20px;
}

.contact {
  background-color: #70a6c7;
  margin-top: 100px;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.contact h1 {
  margin-bottom: 20px;
  font-family: "Marcellus", serif;
  font-style: normal;
}

.icons a {
  color: white;
  font-size: 1em;
  margin: 0 10px;
  padding: 20px;
}

.icons a:hover {
  color: aqua;
  transition: all 100ms ease-in-out;
  font-size: 1.1em;
}
.toast-body a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .content h3 {
    font-size: 3rem;
  }
  .content h2 {
    font-size: 100px;
  }

  .content h2:hover {
    font-size: 2.2rem;
  }

  .WhatWeOffer h2 {
    font-size: 2rem;
  }

  .Program h3 {
    font-size: 1.5rem;
  }

  .Program p {
    font-size: 1rem;
  }

  footer {
    padding: 1rem 0.5rem;
  }
  footer a {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .content {
    height: auto;
    padding: 30px 0px;
  }

  .content h3 {
    font-size: 2rem;
  }
  .content h2 {
    font-size: 40px;
  }

  .content h2:hover {
    font-size: 1.5rem;
  }

  .WhatWeOffer h2 {
    font-size: 3rem;
  }

  .Program h3 {
    font-size: 1.25rem;
  }

  .Program p {
    font-size: 0.875rem;
  }
  footer a {
    font-size: 15px;
  }
}
